form.claimform {
width: 55%;
}
#claim_lawyers_id.form-control.col-1{
max-width: 36%;
}
#claim_claimTypes.form-control.col-1{
max-width: 90%;
}
#claim_bday.form-control{
max-width: 36%;
}
#claim_fname.form-control{
max-width: 40%;
}
#claim_lname.form-control{
max-width: 40%;
}
form.accept_decision_form {
    width: 55%;
    color:white;
  }
form.reject_decision_form{
    width: 55%;
    color: white;
  }