<!DOCTYPE html>
<html>
  <head>
    <title>SimpleClaim User Registration form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  </head>
  <body>
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-balance-scale" style='font-size:48px;color:red'></i>
        <h1>Welcome to SimpleClaim!</h1>
        <p>Select one of the following options</p>
        <div class="btn-group">
          <a class="btn-item" href="login">Are you a client?</a>
          <a class="btn-item" href="login_lawyer">Are you a lawyer?</a>
        </div>
      </div>
      <div>
    </div>
  </body>
</html>
